body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.player-page {
    width: 56.25rem;
    height: 37.5rem;
    background: #fff;
    border: 0.0625rem solid #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background: #f1f1f1;
    border-bottom: 0.0625rem solid #ccc;
}

.file-title {
    font-size: 1rem;
    color: #333;
}

.select-file {
    padding: 0.3125rem 0.625rem;
    font-size: 0.875rem;
    cursor: pointer;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.1875rem;
}

.select-file:hover {
    background: #0056b3;
}

.content {
    display: flex;
    flex: 1;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
    padding: 0.625rem;
    background: #f9f9f9;
    border-right: 0.25rem solid #ccc;
}

h3 {
    margin-top: 0.25rem;
}

.settings label {
    display: block;
    margin-bottom: 0.3125rem;
    font-size: 0.875rem;
    color: #333;
}

.settings select {
    width: 100%;
    padding: 0.3125rem;
    margin-bottom: 0.9375rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 0.1875rem;
}

.number-container {
    display: none; /* flex */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

#numberOfShapes {
    width: 2.5rem;
}

.image-selector-container {
    display: none; /* flex */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.video-frame {
    position: relative;
    width: 40rem;
    height: 30rem;
    margin: auto;
    border: 0.125rem solid #444;
    background-color: #000;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0 0.9375rem rgba(0,0,0,0.5);
}

canvas#visualizerCanvas {
    width: 100%;
    height: 100%;
    display: block;
}

.play-pause {
    position: absolute;
    bottom: 0.625rem;
    right: 0.625rem;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.1875rem;
}

.lower-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
}

#progress-bar {
    width: 45%;
    height: 1.5rem;
    appearance: none;
    margin-left: 13rem;
}

#progress-bar.hidden {
    display: none;
}

.play-pause {
    height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.play-pause:hover {
    background: #0056b3;
}