<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Player</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="player-page">
            <div class="header">
                <div class="file-title">No file selected</div>
                <button class="select-file" onclick="selectFile()">Select File</button>
            </div>
            <div class="content">
                <div class="settings">
                    <label for="background">Background:</label>
                    <select id="background" onchange="changeBackground(this.value)">
                        <option value="black" selected>Black</option>
                        <option value="white">White</option>
                        <option value="img">Image</option>
                        <option value="chng">Changing</option>
                    </select>

                    <label for="shapes">Shapes:</label>
                    <select id="shapes">
                        <option value="bars" selected>Bars</option>
                        <option value="squares">Squares</option>
                        <option value="circles">Circles</option>
                        <option value="mix">Mixed</option>
                    </select>

                    <label for="onMouseClick">On mouse click:</label>
                    <select id="onMouseClick">
                        <option value="1" selected>Create shapes</option>
                        <option value="2">Zoom</option>
                    </select>
                </div>
                <div class="video-frame">
                    <canvas id="visualizerCanvas" width="640" height="480"></canvas>
                    <audio id="audioPlayer" controls style="display: none;"></audio>
                </div>
            </div>
            <section class="lower-bar">
                <!--<progress id="progress-bar" value="0" max="100"></progress>-->
                <button class="play-pause" onclick="playPause()">Play</button>
            </section>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>