<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Motion</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="player-page">
            <div class="header">
                <div class="file-title">No file selected</div>
                <button class="select-file" onclick="selectFile()">Select File</button>
            </div>
            <div class="content">
                <section class="settings">
                    <h3>Settings</h3>

                    <label for="background"><strong>Background:</strong></label>
                    <select id="background" onchange="changeBackground(this.value)">
                        <option value="black" selected>Black</option>
                        <option value="white">White</option>
                        <option value="img">Image</option>
                        <option value="chng">Changing</option>
                    </select>

                    <div class="image-selector-container">
                        <input type="file" id="imageSelector" accept=\"image/*\" onchange="changeImage(event)">
                    </div>

                    <label for="shapes"><strong>Shapes:</strong></label>
                    <select id="shapes" onchange="changeShapes(this.value)">
                        <option value="bars" selected>Bars</option>
                        <option value="squares">Squares</option>
                        <option value="circles">Circles</option>
                        <option value="mix">Mixed</option>
                    </select>

                    <div class="number-container">
                        <label for="numberOfShapes"><strong>Number of shapes:</strong></label>
                        <input type="number" id="numberOfShapes" value="1" min="1" max="100" onchange="changeNumberOfShapes(this.value)">
                    </div>

                    <div class="color-picker-container" id="colorPickerContainer" style="display:none;">
                        <label for="bgColorPicker"><strong>Background Color:</strong></label>
                        <input type="color" id="bgColorPicker" value="#000000" onchange="changeBackgroundColor(this.value)">
                    </div>

                    <label for="onMouseClick"><strong>On mouse click:</strong></label>
                    <select id="onMouseClick">
                        <option value="1" selected>Create shapes</option>
                        <option value="2">Zoom</option>
                    </select>
                </section>

                <div class="video-frame">
                    <canvas id="visualizerCanvas" width="640" height="480"></canvas>
                    <audio id="audioPlayer" controls style="display: none;"></audio>
                </div>
            </div>
            <section class="lower-bar">
                <!--<progress id="progress-bar" value="0" max="100"></progress>-->
                <button class="play-pause" onclick="playPause()">Play</button>
            </section>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>